@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-kanit: "Kanit", sans-serif;
}

à¸´body {
  @apply p-0 m-0;
}

h1 {
  @apply text-5xl text-[#2D9DD0] text-center pb-12 font-kanit;
}

.row {
  @apply w-full p-8;
}

.container {
  @apply w-[960px] m-auto;
}

.travel-search-wrap {
  @apply w-full flex flex-col m-auto pb-20;
}

.travel-search-wrap label {
  @apply w-2/3 pb-4 m-auto font-kanit;
}

input.travel-search {
  @apply w-2/3 border-b-gray-500 border-b-1 text-center m-auto font-kanit;
}

input.travel-search:focus {
  @apply border-0 border-b border-b-black outline-none;
}

.travel-list {
  @apply flex gap-8 font-kanit;
}

.travel-list img.highlight-img {
  @apply w-full h-60 rounded-2xl object-cover object-center;
}

.no-results {
  @apply font-kanit text-[#CFCFCF] text-center;
}
.no-results img {
  @apply m-auto;
}

.travel-info {
  @apply flex flex-col gap-1.5 w-2/3;
}

.travel-info h2 {
  @apply text-xl font-semibold;
}

.travel-info p {
  @apply text-gray-500;
}

.travel-info a {
  @apply text-[#2D9DD0] underline;
}

.travel-info a:hover {
  @apply text-[#1f7093];
}

.travel-info .tag {
  @apply flex gap-4 text-gray-500 text-sm;
}

.travel-info .tag ul {
  @apply flex flex-row gap-4 flex-wrap;
}

.travel-info .tag ul li {
  @apply text-gray-500 underline cursor-pointer;
}

.travel-info .img-list {
  @apply flex gap-4 pt-2;
}

.travel-info .img-list .item {
  @apply w-[80px] h-[80px];
}

.travel-info .img-list .item img {
  @apply w-full h-[80px] rounded-xl object-cover object-center;
}

.travel-info button.travel-link {
  @apply flex justify-center items-center w-[40px] h-[40px] border-1 border-[#2D9DD0] rounded-full absolute right-0 top-[-40px] cursor-pointer;
}

.travel-info button.travel-link svg {
  @apply fill-[#2D9DD0];
}

.travel-info .travel-link:hover,
.travel-info .travel-link svg:hover {
  @apply border-[#1f7093] fill-[#1f7093];
}
